body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

header,
footer {
  background-color: #eee;
  padding: 20px;
}

main {
  padding: 20px;
  display: flex;
  gap: 20px;
}

section {
  padding: 20px;
  border: 1px solid #ccc;
}
.content {
  flex: 2;
}

.sidebar {
  flex: 1;
}

.hidden {
  display: none;
}

#box {
  width: 200px;
  height: 100px;
  background-color: lightgray;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: lightblue;
}
